<html>

<head>
    <title>Content1</title>

    <script src="https://kit.fontawesome.com/da855165bc.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body  style="background-color: #81DAF5">

    <div class="container  border border-dark">
            <h1 class="text-center">강남 VR-Station</h1>
        <div class="row p-3">
            <div class="col-lg-6">
                <ul>
                    <li>
                        메뉴/가격대 : 4월 자유이용권 특가 32,000원, 4월 빅4 대인 28,000원
                    </li>
                    <li>
                        찾아가는 길 : 강남역 4번 출구 도보 1분
                    </li>
                    <li>
                        영업시간 : 11:00 ~ 23:00 / 마지막 입장 22:00
                    </li>

                </ul>
            </div>
            <img class="col-lg-6" src="./content_img1.jpg" height="300px">
        </div>

        <div class="row p-3">
            <div style="background-color: #81DAF5" class="card col-lg-4">
                <img src="./content_img1_01.png" width="100%" height="250px">
                <h5>환상이 현실이 되는 공간, vr station</h5>
                    <p>꿈꿔 왔던 드래곤 볼, 슈퍼 마리오, 에반게리온의 주인공이 되는 곳,
                        VR STATION은 강남역에 위치한 국내 최대 VR테마파크로
                        VR어트랙션과 시즌별 미디어 콘텐츠를 갖춘 신개념 복합 놀이ㆍ문화 공간 입니다.</p>
            </div>

            <div style="background-color: #81DAF5" class="card col-lg-4">
                <img src="./content_img1_03.png" width="100%" height="250px">
                <h5>친구, 가족, 연인과 함께 즐기는 멀티플레이</h5>
                    <p>혼자 하는 VR은 그만! 
                            대전을 통해 느끼는 통쾌한 승리감과 협업을 통한 다양한 전략 플레이!
                            친구, 가족, 연인과 색다른 추억을 남겨 보세요.</p>
            </div>

            <div style="background-color: #81DAF5" class="card col-lg-4">
                <img src="./content_img1_02.png" width="100%" height="250px">
                <h5>온몸으로 즐기는 최고의 몰입감!
                        익스트림 어트랙션</h5>
                    <p>현실보다 더 현실 같이! 온몸으로 즐기는 몰입감! 
                            VR STATION에서 어트랙션의 미래를 경험하세요.</p>
            </div>
        </div>


        <button class="btn btn-outline-primary" data-toggle="modal" data-target="#edit">후기 작성</button>
        <button class="btn btn-outline-primary" onclick="history.back(-1);">나가기</button>
    </div>


    <div class="modal fade" id="edit">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">후기 작성</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form action="/edit_page">
                            <div class="form-group input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">제목</span>
                                </div>
                                <input type="text" name="title" class="form-control" placeholder="제목">
                            </div>
    
                            <div class="form-group input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">내용</span>
                                </div>
                                <input type="text" name="content" class="form-control" placeholder="내용">
                            </div>
    
                            <div class="form-group input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">작성자</span>
                                </div>
                                <input type="text" name="name" class="form-control" placeholder="작성자">
                            </div>
    
    
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-outline-secondary">Submit</button>
                            </div>
    
                        </form>
    
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>