<html>

<head>
    <title>Content_main1</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>




<body>
    <div>
        <a href="/login" class="ml-3">Sign In </a>
        <a href="/signup">Sign Up</a>
    </div>

    <a href="/"><img src="./logo.png" style="margin-left: auto; margin-right: auto; display: block" width="180px"
            height="80px"></a>


    <nav class="navbar navbar-expand-sm bg-info navbar-dark justify-content-between ">
        <ul class="navbar-nav ">
            <ul class="navbar-nav ">
                <li class="nav-item ">
                    <a class="nav-link" href="/sh_mac">Home</a>
                </li>

            </ul>
            <ul class="navbar-nav ">
                <li class="nav-item ">
                    <a class="nav-link" href="/sh_ipad">Notice</a>
                </li>
            </ul>

            <ul class="navbar-nav ">
                <li class="nav-item ">
                    <a class="nav-link" href="/sh_iphone">Event</a>
                </li>

            </ul>

            <ul class="navbar-nav ">
                <li class="nav-item ">
                    <a class="nav-link" href="/sh_watch">Help</a>
                </li>
            </ul>


        </ul>

    </nav>




    <img src="./content_main_img1.jpg" width="100%" height="300px">
    <h1 style="position: absolute;top: 20%; left: 45%;" class="text-white align-middle display-3">강 남</h1>
    <div class="container">
        <div class="row p-3">
            <div class="col-lg-4 p-2 text-center">
                <img src="./content_img1.jpg" width="100%" height="180px">
                <h5>강남 VR스테이션</h5>
                <p>꿈꿔 왔던 드래곤 볼, 슈퍼 마리오, 에반게리온의 주인공이 되는 곳,
                    VR STATION은 강남역에 위치한 국내 최대 VR테마파크로...</p>
                <button onclick="location.href='/content'" class="btn btn-outline-primary">메뉴 이동</button>
            </div>

            <div class="col-lg-4 p-2 text-center">
                <img src="./content_img2.jpg" width="100%" height="180px">
                <h5>다트프린스</h5>
                <p>당구장을 대체하는 신문물 놀이공간. 당구장처럼 1대의 다트장에 시간제 비용을 받는다. 친구들과의 내기와 미션달성이 꿀잼.</p>
                <button onclick="location.href='/content2'" class="btn btn-outline-primary">메뉴 이동</button>
            </div>

            <div class="col-lg-4 p-2 text-center">
                <img src="./content_img3.png" width="100%" height="180px">
                <h5>강남 3MK</h5>
                <p>꿈꿔 왔던 드래곤 볼, 슈퍼 마리오, 에반게리온의 주인공이 되는 곳,
                    VR STATION은 강남역에 위치한 국내 최대 VR테마파크로...</p>
                <button onclick="location.href='/content3'" class="btn btn-outline-primary">메뉴 이동</button>
            </div>

            
        </div>
    </div>


    <footer class="py-4 bg-dark text-white-50 ">
        <div class="container text-center">
            <small>CEO : Choi sung ho</small>
            <div>
                <small>Address : Korea</small>
            </div>
            <div>
                <small>Business license number : 999-55-75416</small>
            </div>
        </div>
    </footer>
</body>



</html>